Source: gecko-mediaplayer
Section: graphics
Priority: optional
Maintainer: Cesare Tirabassi <norsetto@ubuntu.com>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config (>= 0.9.0), libglib2.0-dev (>= 2.14), iceape-dev, libdbus-1-dev (>= 0.95), libdbus-glib-1-dev (>= 0.70), libx11-dev, libidl0, chrpath (>=0.13), libgconf2-dev (>= 2.20), quilt
Standards-Version: 3.8.0
Homepage: http://kdekorte.googlepages.com/gecko-mediaplayer

Package: gecko-mediaplayer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnome-mplayer (>= 0.6.3), iceweasel | firefox-3.0 | firefox-2 | iceape-browser | epiphany-browser | galeon | midbrowser | xulrunner
Xb-Npp-Applications: ec8030f7-c20a-464f-9b0e-13a3a9e97384, 92650c4d-4b8e-4d2a-b7eb-24ecf4f6b63a, aa5ca914-c309-495d-91cf-3141bbb04115
Xb-Npp-Name: Media plug-in for Gecko browsers
Xb-Npp-MimeType: video/mpeg, audio/mpeg, video/x-mpeg, video/x-mpeg2, audio/x-mpeg, audio/mpeg2, audio/x-mpeg2, audio/mpeg3, audio/x-mpeg3, audio/mp3, audio/x-mpegurl, video/mp4, application/x-ogg, audio/ogg, application/ogg, video/fli, video/x-fli, video/vnd.vivo, application/x-nsv-vp3-mp3, audio/basic, audio/x-basic, audio/x-scpls, video/divx, video/vnd.divx, audio/midi, video/quicktime, video/x-quicktime, image/x-quicktime, video/quicktime, video/quicktime, application/x-quicktimeplayer, application/asx, video/x-ms-asf-plugin, video/x-msvideo, video/msvideo, application/x-mplayer2, application/x-ms-wmv, video/x-ms-asf, video/x-ms-wm, video/x-ms-wmv, audio/x-ms-wmv, video/x-ms-wmp, video/x-ms-wvx, audio/x-ms-wax, audio/x-ms-wma, application/x-drm-v2, audio/wav, audio/x-wav, audio/x-pn-realaudio, application/vnd.rn-realmedia, application/vnd.rn-realaudio, video/vnd.rn-realvideo, audio/x-realaudio, audio/x-pn-realaudio-plugin, application/smil, audio/x-mod
Description: Media plug-in for Gecko browsers
 Gecko Media Player is a browser plug-in that uses GNOME MPlayer
 and Mplayer to play media in a browser.
 It uses the NS4 API and is therefore compatible with all NS4 derived browsers:
 Iceweasel, Firefox, Iceape, Epiphany, Galeon, Midbrowser, etc.
