#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CXXFLAGS = -Wall -g
LDFLAGS  = -Wl,-z,defs -Wl,--as-needed

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CXXFLAGS += -O0
else
	CXXFLAGS += -O2
endif

CXXFLAGS += -DMOZ_NO_MOZALLOC

%:
	dh $@ 

override_dh_auto_configure:
	./configure --prefix=/usr --sysconfdir=\$${prefix}/share \
	--with-plugin-dir=/usr/lib/mozilla/plugins \
	CXXFLAGS="$(CXXFLAGS)" LDFLAGS="$(LDFLAGS)"

